*{
    margin: 0px;
    padding: 0px;
}
    body {
    background-color:hsl(225, 100%, 94%);

    }

    .background{
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        padding: 80px;
        height: 100vh;
        width: 100vw;
        display: grid;
        background-size: 100%;
    }


main {
    background-color: white;
    border-radius: 10px;
    width: 450px;
    padding-bottom: 50px;
    margin: 0px auto;
    filter: drop-shadow(1px 10px 10px #c1cdf5);
}

h1, p, a {
    font-family: "Red Hat Display"; sans-serif;
}

h1{
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    line-height: 1,5em;
}
p{
    text-align: center;
    color: lightslategray;
    font-size: 16px;
    line-height: 1,5em;
    font-weight: 400;
}
a{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: blue;
    transform: underline;

}

.main-copy {
    padding: 50px 50px 0px;
    width: 350px;
}
.headline{
    margin: 10px;
}

.annual-plan{
    margin: 20px auto;
    width: 350px;
    background-color:  hsl(225, 100%, 98%);
    border-radius: 10px;
}

.music-icon, .annual-plan-text, .annual-plan-link{
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
    size: 50px;
}

.annual-plan-link{
    text-align: right;
}

.hero-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button{
    width: 350px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin: 20px 50px;
    font-weight: 800;
    font-family: "Red Hat Display";
    border: 0px;
    filter: drop-shadow(1px 10px 10px #c1cdf5);
}

button:hover{
    background-color: hsl(223, 47%, 23%);
}

.link-cancellation{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: darkslategray;
    transform: underline;
}

.attribution{
    margin-top: 50px;
}